.deps/
.libs/
AUTHORS
COPYING
ChangeLog
GPATH
GRTAGS
GTAGS
INSTALL
Makefile
Makefile.in
NEWS
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
librepgencpp.la
libtool
ltmain.sh
missing
repclient
*.h~
*.cc~
repserver
stamp-h1
